a {
  color: #0000ee;
}

.entry-date.published {
  color: #9ccc14;
}

a.url.fn.n {
  color: #9ccc14;
}

a.category-tag {
  color: #9ccc14;
}

cat-links.a,
entry-content.p {
  color: #9ccc14;
}

h2 {
  font-size: -5px;
}