.site-branding h1.site-title a {
  color: #052f6c;
}

.site-description {
  color: #9ccc14;
}

strong {
  color: #052F6C;
}

.post-meta-info .entry-meta time {
  color: #052F6C;
}

.entry-time.updated {
  color: #052F6C;
}

h1 a {
  color: #052f6c;
}

.nav>li>a {
  color: #052F6C;
}

li {
  color: #052f6c;
}

a {
  color: #052f6c;
}

.site-footer-inner.col-sm-12.clearfix {
  background-color: #1d0030;
}

#footer-info {
  background-color: #1d0030;
}

#colophon.site-footer {
  background-color: #1d0030;
}

.pagenav {
  color: #ffff;
}

#colophon .nav > li > a:hover {
  color: #fffff;
}

body.page .page-header h1.entry-title {
  font-size: 30px;
}

p {
  font-size: 16px;
  padding: 10px;
}

h2 a:hover {
  font-size: 30px;
}

h1 {
  color: #052f6c;
}

h2 a {
  color: #052f6c;
}